.covid19-App {
  font-size: 16px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.covid19-App__header {
  width: 100%;
  margin: 1em 0;
}
.covid19-App__header > select {
  width: 100%;
}
.covid19-App__updated {
  font-size: .8em;
  color: #8E8E8E;
  float: right;
  text-align: right;
  width: 100%;
  display: block;
  text-align: center;
  margin: 1em auto;
}
@media screen and (min-width: 767px) {
  .covid19-App__updated,
  .covid19-App__header > select {
    width: auto;
  }
  .covid19-App__updated {
    margin: .5em 0;
  }
}